@font-face {
    font-family: "Syne";
    src: url(syne-font-family-1733927083-0/Syne-Bold-BF642e31d33338e.ttf);
}
@font-face {
    font-family: "familjen Grotesk";
    src: url(familjen-grotesk/fonts/ttf/FamiljenGroteskGF-Regular.ttf);
}
@font-face {
    font-family: "space mono";
    src: url(space-mono/SpaceMono-Bold.ttf);
}

body{
    margin: 0 20px;
    width: auto;
    background-color: #ECF6FE;
  }
  
  .navbar{
    height: 100%;
    width: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .header-title{
    width: 100%;
    height: auto;
    font-family: "Syne";
    cursor: default;
    color: #381664;

  }
  
  .header-buttons{
    width: 100%;
    height: auto;
    display: flex;
    font-family: "Syne";
    gap: 10px;
    color:#381664;
  }
  
  .btn{
    margin: 5px;
    padding: 3px 6px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .divider{
    margin: 0;
    height: 1px;
    background-color:#440A8F;
    
  }
  .title-head{
    font-family: "Syne";
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    height: auto;
    width: 100%;
    color:#381664;
  }
  
  .title-image{
    width:100%;
    height:auto;
    align-self: center;
    margin-bottom: 96px;
    border-radius: 28px;
    border: 1px solid #440A8F;
  }
  
  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    margin-bottom: 48px;
  }
  
  .grid-img{
    height: auto;
    width: 100%;
    border:1px solid #440A8F;
  }

  .cap{
    font-family: Familjen Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#381664;

  }
  .des{
    font-family: Familjen Grotesk;
    font-size: 17px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#381664;

  }

  .captioned-image .cap-img{
    border: 1px solid#440A8F;
    align-self: center;
    width: 100%;
    height: auto;

  }
  .caption{
    font-family: Familjen Grotesk;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color:#381664 ;
    
  }
  .captioned-image{
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 12px;
  }
  .dot{
    width: 6px;
    height: 6px;
    opacity: 0px;
    color:#381664;
    letter-spacing: 18px;
    margin-bottom: 12px;

  }
  .reviews{
    margin-top:  48px;
    margin-bottom: 48px;
    gap: 48px;
  }
  .reviews .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .ques{
    font-family: Syne;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #381664;
    margin-top: 24px;
  }
  .cards{
    display: flex;
    gap: 48px;
    margin-bottom: 48px;
  }
  .prof{
    display: flex;
    align-items: center;
  }
  .card1{
    border: 1px solid #440A8F;
    background-color: #FFFFFF;
    padding: 24px;
    gap: 16px;
    border-radius: 16px;
    border: 1px 0px 0px 0px;
    opacity: 0px;



  }

  .card2{
    border: 1px solid #440A8F;
    background-color: #FFFFFF;
    padding: 24px;
    gap: 16px;
    border-radius: 16px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }
  .card3{
    border: 1px solid #440A8F;
    background-color: #FFFFFF;
    padding: 24px;
    gap: 16px;
    border-radius: 16px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }
  .card4{
    border: 1px solid #440A8F;
    background-color: #FFFFFF;
    padding: 24px;
    gap: 16px;
    border-radius: 16px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }

  .profile{
    border-radius: 999px;
    border: 1px solid #440A8F;
    width: 48px;
    height: 48px;
    display: flex;
    margin-right: 20px;
  }
  .Name{
    font-family: Familjen Grotesk;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #381664;
  }
  .Position{
    font-family: Familjen Grotesk;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #381664;

  }
  .description{
    font-family: Familjen Grotesk;
    font-size: 20px;
    font-weight:400;
    line-height: 24px;
    text-align: left;
    color:#6C49B8;
    margin-left: 20px;

  }
  .line{
    border: 1px solid #440A8F;
    margin-left: 25px;

  }
  .prof2{
    display: flex;
    height: auto;
  }
  .contact{
    font-family: Syne;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #381664;
    margin-top: 200px;
    gap: 32px;

  }
  .info{
    font-family: Familjen Grotesk;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #381664;

  }

  .contact h1{
  font-family: Syne;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: center;
  color:#381664

  }
  .contact p{
    font-family: Familjen Grotesk;
    font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 30px;
  

  }
  .input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1.5rem;
}

.digit-input {
    width: 56px;
    height: 64px;
    border: 1px solid #4C247C;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    color:#381664;
    outline: none;
    transition: all 0.3s;
    padding: 8px 16px 8px 16px;
    margin-bottom: 40px;


}

.digit-input:focus {
    border-color: #6A1B9A;
    box-shadow: 0 0 5px #6A1B9A;
}

/* Send Button */
.send{
    background-color: #4C247C;
    color: #FCFAFF;
    cursor: pointer;

    transition: background-color 0.3s;
    font-family: Space Mono;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  width: 400px;
  height: 36px;
  padding: 8px 16px 8px 16px;
  gap: 0px;
  border-radius: 8px;
  margin-bottom: 30px;


}

.send:hover {
    background-color: #6A1B9A;
}


.skip{
    font-family: Space Mono;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align:center;
    text-decoration-skip-ink: none;    
    transition: color 0.3s;
    color: #381664;
    text-decoration: none;
}

.skip:hover {
    color: #4C247C;
}
.footer{
  display: flex;
  margin-top: 200px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;




}
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.copyright{
  font-family: Syne;
font-size: 28px;
font-weight: 500;
line-height: 32px;
letter-spacing: -0.01em;
color: #381664;

}
.follow{
  border: 1px solid #440A8F;
padding: 12px 24px 12px 24px;
gap: 0px;
border-radius: 8px;
color: #381664;
font-family: Space Mono;
font-size: 20px;
font-weight: 700;
line-height: 24px;
font-style: normal;
text-decoration: none;
}

.follow:hover {
  background-color: #4C247C;
  color: #FFFFFF;
}




   




